{% extends "/templates/base.html" %}
{% block title %}GPU DB{% endblock %}
{% block user_url %}{{url}}{% endblock %}{% block user_text %}{{url_string}}{% endblock %}
{% block content %}

{% for err in errors %}
    {{err}}
{% endfor %}

<form method="post" action="/anagram/search">
<input type="text" name="word"/>
    <input type="submit" value="search">
</form>

<div class="row">
    <div class="col-md-6">
        <ul class="list-group">
            {% for val in anagrams %}
            <li class="list-group-item">{{ val }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}